<nav class="navbar navbar-light" style="background-color: #e3f2fd; display: flex unset">
  <p class="navbar-brand" style="color:rgb(71, 69, 64);padding: 0 0 0 0 ;" >Student Management System</p>
</nav>

<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">

    <div class="list-group list-group-flush">
      <a  routerLink="" class="list-group-item list-group-item-action bg-light">Home</a>
      <a routerLink="about" class="list-group-item list-group-item-action bg-light">About</a>
      <a routerLink="contact" class="list-group-item list-group-item-action bg-light">Contact</a>
      <a routerLink="student" class="list-group-item list-group-item-action bg-light">Student</a>
      <a routerLink="table" class="list-group-item list-group-item-action bg-light">StudentTable</a>
      
    </div>
  </div>
  <router-outlet></router-outlet>
</div>


